name: macos

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  macos-test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Run install.sh
      run: ${GITHUB_WORKSPACE}/scripts/install.sh

    - name: Run link.sh
      run: ${GITHUB_WORKSPACE}/scripts/link.sh

    - name: Run brew.sh
      # masã¯skip
      run: |
        temp_file=$(mktemp)
        cat ${GITHUB_WORKSPACE}/.config/homebrew/.Brewfile | sed '/^mas /d' > "$temp_file"
        cat $temp_file
        cat "$temp_file" > ${GITHUB_WORKSPACE}/.config/homebrew/.Brewfile
        ${GITHUB_WORKSPACE}/scripts/brew.sh

    - name: Run sheldon.sh
      run: ${GITHUB_WORKSPACE}/scripts/sheldon.sh

    - name: Run mac_defaults.sh
      run: ${GITHUB_WORKSPACE}/scripts/mac_defaults.sh

    - name: install aws cli
      run: ${GITHUB_WORKSPACE}/scripts/install_awscli.sh

    - name: install gcloud
      run: ${GITHUB_WORKSPACE}/scripts/install_gcloud.sh

    - name: uninstall aws cli
      run: ${GITHUB_WORKSPACE}/scripts/uninstall_awscli.sh

    - name: uninstall gcloud
      run: ${GITHUB_WORKSPACE}/scripts/uninstall_gcloud.sh

    # - name: Load .zshrc
    #   run: |
    #     zsh ~/.zshrc 2> error.log; cat error.log
    #     if [ -s error.log ]; then false; fi
