name: macos

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  macos-test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Run install.sh
      run: ${GITHUB_WORKSPACE}/scripts/install.sh

    - name: Run link.sh
      run: ${GITHUB_WORKSPACE}/scripts/link.sh

    - name: Run brew.sh
      env:
        HOMEBREW_BUNDLE_FILE_GLOBAL: $HOME/.config/homebrew/.Brewfile
      # masã¯skip
      run: |
        temp_file=$(mktemp)
        cat "$HOMEBREW_BUNDLE_FILE_GLOBAL"| sed '/^mas /d' > "$temp_file"
        cat "$temp_file" > "$HOMEBREW_BUNDLE_FILE_GLOBAL"
        ${GITHUB_WORKSPACE}/scripts/brew.sh

    - name: Run sheldon.sh
      run: ${GITHUB_WORKSPACE}/scripts/sheldon.sh

    - name: Run mac_defaults.sh
      run: ${GITHUB_WORKSPACE}/scripts/mac_defaults.sh

    # - name: Load .zshrc
    #   run: |
    #     zsh ~/.zshrc 2> error.log; cat error.log
    #     if [ -s error.log ]; then false; fi
